backend/node_modules
backend/.env


secrets.env
.env

# Helm and Kubernetes
Kubernetes/k8s-prac/charts/
Kubernetes/k8s-prac/templates/*.tpl
Kubernetes/k8s-prac/.helmignore
Kubernetes/k8s-prac/*.tgz

# Kubernetes secrets and config
Kubernetes/k8s-secret.yaml
Kubernetes/*.secret.yaml
Kubernetes/*.config.yaml

# Minikube and kubectl local files (if any)
*.log